$primary-color: #B0D8F5;
$secondary-color: #ABC;
$border: 1px solid #1B70E0;
$default-border-radius: 5px !default;

@mixin rounded-corners($radius: $default-border-radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body {
  background-color: $secondary-color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #00F;
  img: {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.comment {
  background-color: #1BB5E0;
  border: $border;
  padding: 0 15px;
  margin-bottom: 15px;
  @include rounded-corners(5px)
}

.comment:last-child {
  margin-bottom: 0px;
}

.lead {
  margin: 0 auto;
  background: $primary-color;
  padding: 10px 20px;
  border: $border;
  margin-top: 20px;
  @include rounded-corners(10px)
}
.nav-header {
  color: black;
  padding-top: 20px;
}
